@page
@model TranThiMinhThuRazorPages.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
